/* ====================Мобильная версия================= */
@media screen and (max-width: 768px)  {
// mobile
h1{
	color: gray;
}
// end mobile
}
// ____________________________________________________________________________________ //
@media (min-width: 768px) and (max-width: 1024px)  {
	// mobile
	h1{
		color: red;
	}
	// end mobile
}
// ____________________________________________________________________________________ //
@media (min-width: 1024px) and (max-width: 1580px)  {
	// mobile
	h1{
		color: blue;
	}
	// end mobile
}
// ____________________________________________________________________________________ //
@media (min-width: 1580px)  {
	// mobile
	h1{
		color: black;
	}
	// end mobile
}
/* ============Конец - Мобильная версия================= */
