// шрифт //
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700;800&display=swap");
body {font-family: "Exo 2";}
// шрифт //

// начало Переменные //
$red: gray;

$flex: flex;
$jsc-c: center;
// конец  Переменные //



// Адаптивный шрифт 
$maxWidth: 1900; // макетная ширина
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// подключить к шрифту макс - мин значения где 40 макс по макету для пк, мин для мобилки 
// @include adaptiv-font(40, 20);